#-------------------------------------------------------------------------------
# Copyright (c) 2018-2019, Arm Limited. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
#-------------------------------------------------------------------------------
Jinja2==2.10
MarkupSafe==1.0
PyYAML==3.12
pycryptodome==3.6.6
pyasn1==0.1.9
