#-------------------------------------------------------------------------------
# Copyright (c) 2017, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
#-------------------------------------------------------------------------------
#Ignore doxygen output directories
html/
rtf/
html_*.zip
