{#------------------------------------------------------------------------------
# Copyright (c) 2020, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
#-----------------------------------------------------------------------------#}
device_type: {{ device_type }}
job_name: {{ job_name }}

timeouts:
  action:
    minutes: {{ action_timeout }}
  actions:
    power-off:
      seconds: {{ poweroff_timeout }}
  job:
    minutes: {{ job_timeout }}

priority: medium
visibility: public

actions:
    - deploy:
        timeout:
          minutes: 12
        to: musca
        images:
          test_binary:
            url: {{ firmware_url }}

    - boot:
        method: musca

    - test:
        monitors:
        {%- for monitor in test.monitors %}
        - name: "{{monitor.name}}"
          start: "{{monitor.start}}"
          end: "{{monitor.end}}"
          pattern: "{{monitor.pattern}}"
          fixupdict:
              '{{monitor.fixup.pass}}': pass
              '{{monitor.fixup.fail}}': fail
        {% endfor %}

metadata:
  build_no: {{ build_no }}
  compiler: {{ compiler }}
  build_type: {{ build_type }}
  boot_type: {{ boot_type }}
  name: {{ name }}
  platform: {{ platform }}
  build_name: {{ build_name }}
  build_job_url: {{ build_job_url }}

