{#------------------------------------------------------------------------------
# Copyright (c) 2019-2022, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
#-----------------------------------------------------------------------------#}
actions:
- deploy:
    images:
      mcuboot: {image_arg: '-device loader,file={mcuboot},addr=0x10000000', url: '{{ bootloader_url }}'}
      tfm: {image_arg: '-device loader,file={tfm},addr=0x10080000', url: '{{ firmware_url }}'}
    to: tmpfs
- boot:
    docker: {binary: /usr/bin/qemu-system-arm, image: 'trustedfirmware/ci-amd64-tf-m-qemu-debian:bullseye'}
    method: qemu
    timeout:
      minutes: 10
- test:
    monitors:
    {%- for monitor in test.monitors %}
    - name: "{{monitor.name}}"
      start: "{{monitor.start}}"
      end: "{{monitor.end}}"
      pattern: "{{monitor.pattern}}"
      fixupdict:
         '{{monitor.fixup.pass}}': pass
         '{{monitor.fixup.fail}}': fail
         {%- if monitor.fixup.skip %}
         '{{monitor.fixup.skip}}': skip
         {%- endif %}
         'SIM ERROR': fail
    {%- endfor %}

context:
  arch: arm
  cpu: 'cortex-m33'
  machine: mps2-an521
  serial: '-serial mon:stdio'
  vga: '-vga none'
  memory: 16M
  model: model=lan9118

device_type: {{ device_type }}
job_name: {{ job_name }}
priority: medium
visibility: public

timeouts:
  job:
    minutes: {{ job_timeout }}
  action:
    minutes: {{ action_timeout }}
  actions:
    power-off:
      minutes: {{ poweroff_timeout }}
  connections:
    lava-test-monitor:
      minutes: {{ monitor_timeout }}

metadata:
  build_no: {{ build_no }}
  compiler: {{ compiler }}
  build_type: {{ build_type }}
  boot_type: {{ boot_type }}
  name: {{ name }}
  platform: {{ platform }}
  build_name: {{ build_name }}
  device_type: {{ device_type }}
  build_job_url: {{ build_job_url }}
  firmware_url: {{ firmware_url }}
  bootloader_url: {{ bootloader_url }}

