{#------------------------------------------------------------------------------
# Copyright (c) 2018-2019, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
#-----------------------------------------------------------------------------#}
{% extends 'jinja2_templates/base.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block base %}
{{ super() }}
{% endblock %}
{% block actions %}
actions:
- deploy:
    to: flasher
    images:
      recovery_image:
        url: {{ recovery_image_url }}
        compression: gz
    namespace: target
    test_binary_1:
      url: {{ firmware_url}}
    test_binary_2:
      url: {{ bootloader_url }}
    namespace: target

- boot:
    method: minimal
    timeout:
      minutes: 10
    namespace: target

- test:
    namespace: target
    monitors:
    {%- for monitor in test.monitors %}
    - name: "{{monitor.name}}"
      start: "{{monitor.start}}"
      end: "{{monitor.end}}"
      pattern: "{{monitor.pattern}}"
      fixupdict:
         '{{monitor.fixup.pass}}': pass
         '{{monitor.fixup.fail}}': fail
    {% endfor %}
{% endblock %}
